{% extends 'layout.html' %}


{% block body %}
    <div style="margin-top:5rem;" class="jumbotron text-center">
        <h3>Welcome to blog</h3>
        <p>We share our articles in this blog</p>

    </div>
    <p>
    
{% if request.user.is_authenticated %}
<div class="alert alert-success" role="alert">
    Logged In by  {{request.user.username}}
  </div>

   
{% else %}
<div class="alert alert-danger " role="alert">
    Please Login in ...
  </div>
{% endif %}
    
        
     </p>
{% endblock body %}
    